---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      color="var(--accent-regular)"
      gradient
      icon="terminal-window"
      size="2.5rem"
    />
    <h2>Extended Reality</h2>
    <p>
      Create immersive experiences with cutting-edge technology. [Three.JS,
      Unity]
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon color="var(--accent-regular)" gradient icon="heart" size="2.5rem" />
    <h2>Neuroscience</h2>
    <p>
      Understanding the human mind to create engaging and effective designs.
      [Psychology, Cognitive Science, Education]
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      color="var(--accent-regular)"
      gradient
      icon="strategy"
      size="2.5rem"
    />
    <h2>Image Processing</h2>
    <p>
      Transforming visual data into actionable insights. Including hyperspectral
      imaging and deep learning techniques. [OpenCV, PyTorch, CUDA]
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
